*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffe6f1;
}

header{
    background:#ff66b3;
    color:white;
    text-align:center;
    padding:40px;
}

.foto{
    width:130px;
    height:130px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:15px;
}

header h1{
    font-size:45px;
}

header p{
    margin-top:8px;
    font-size:20px;
}

nav{
    background:white;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:18px;
    position:sticky;
    top:0;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

nav a{
    color:#ff4d94;
    text-decoration:none;
    font-weight:bold;
}

.container{
    width:80%;
    margin:auto;
}

.card{
    background:white;
    margin:35px 0;
    padding:35px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(255,105,180,.15);
}

.card h2{
    color:#ff4d94;
    margin-bottom:20px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#ff66b3;
    color:white;
    padding:12px 25px;
    border-radius:30px;
}

.portfolio{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.box{
    background:#fff0f7;
    width:300px;
    padding:25px;
    border-radius:18px;
}

.box h3{
    margin-bottom:10px;
}

@media(max-width:768px){

.container{
    width:95%;
}

header h1{
    font-size:30px;
}

.portfolio{
    flex-direction:column;
}

.box{
    width:100%;
}

nav{
    flex-wrap:wrap;
    gap:20px;
}

}
